@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #1DA1F2;
    --color-secondary: #14171A;
    --color-accent: #657786;
    --color-muted: #AAB8C2;
    --color-emergency: #E0245E;
    --color-emerald: #17BF63;
    --font-logo: 'Lobster', cursive;
    --gradient-1: linear-gradient(90deg, #1DA1F2, #14171A);
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f5f5f5;
        color: #333;
        @apply min-h-screen overflow-x-hidden;
    }

    header {
        @apply fixed top-0 left-0 w-full flex justify-around items-center z-10 p-3;
    }
}

@layer components {
    .box {
        @apply p-4 w-32 h-32 rounded shadow;
    }

    .black-btn {
        @apply bg-black w-[90%] text-white font-medium p-5 rounded-2xl cursor-pointer hover:bg-gray-700 mt-4;
    }

    .gray-btn {
        @apply bg-gray-700 w-[90%] text-white font-medium p-5 rounded-2xl cursor-pointer hover:bg-black mt-4;
    }
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .img {
        @apply max-w-full h-auto;
    }

    .sub-head {
        @apply text-lg font-semibold text-gray-600 w-[70%];
    }

    .logo {
        @apply font-logo text-2xl font-medium ml-2 max-lg:text-lg;
    }

    .glass {
        @apply border border-gray-400 rounded-2xl backdrop-blur-md shadow-2xl;
    }

    .gradient-1 {
        @apply bg-gradient-to-r from-[#434343] to-[#000];
    }

    .gradient-2 {
        @apply bg-gradient-to-r from-emerald to-emergency;
    }

    .modal {
        @apply relative z-10 w-full h-full flex justify-center items-center sm:h-auto sm:w-[90%] sm:max-w-lg bg-white p-6 rounded-none sm:rounded-2xl shadow-2xl;
    }
}

/* Pure Css */
#hero {
    background-image: url('/images/bg.png');
    background-size: cover;
    background-position: center;
}

#about {
    background-image: url('/images/bg2.png');
    background-size: cover;
    background-position: center;
}

#skills {
    background-image: url('/images/bg3.png');
    background-size: cover;
    background-position: center;
}

#work {
    background-image: url('/images/bg4.png');
    background-size: cover;
    background-position: center;
}

.folder {
    clip-path: polygon(95% 23%, 95% 95%, 5% 95%, 5% 33%, 51% 33%, 63% 23%);
}